bin/
target/
local/

# Eclipse, Netbeans and IntelliJ files
.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# test data
/settings-db.xml
/allocated.db.properties
